name: Action Test

on:
  workflow_dispatch:
    # inputs:
    #   version:
    #     description: 'Version'
    #     type: string
    #     required: true
    #     default: 'v0.2.0-alpha'
        
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        
      - name: ChangeSet GitHub Action
        uses: W4TR1X/W4tr1x.ChangeSet@v0.3.0-alpha
        with:
          #path: "" # For a inner path
          config: "./src/ChangeSet/changeset.config.json"
          pairs: |
            "version=1.2.3"
            "buildNumber=123321123"
