name: Main

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
  
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.200

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

  bundle-js:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build bundled JS file
        run: |
          npx @vercel/ncc build index.js -o . --minify
          mv index.js index.bundle.js

      - name: Commit and push changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add index.bundle.js
          git commit -m "Automated: Bundle index.js into index.bundle.js" || echo "No changes to commit"
          git push
  
  binaries:
    needs: build
    timeout-minutes: 10    
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "windows-latest"
            osname: "win-x64"
            script: "build-windows.ps1"
            output: "./dist/win-x64"
          - os: "ubuntu-latest"
            osname: "linux-x64"
            script: "build-linux.ps1"
            output: "./dist/linux-x64"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.200

      - name: Install PowerShell
        if: matrix.os != 'windows-latest'
        run: dotnet tool install --global PowerShell

      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Fix file content
        if: matrix.os != 'windows-latest'
        run: sed -i 's/\r//g' ${{ matrix.script }}
      
      - name: PowerShell script
        shell: pwsh
        run: pwsh -File ${{ matrix.script }} -Passthru

      - name: Commit and push changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add "${{ matrix.output }}"
          git commit -m "Add binaries for ${{ matrix.osname }}" || echo "No changes to commit"
          git push
